.mybg {
    background-image: var(--background);
    background-size: cover;
    height: 32rem;
    color: #fff;
}

.inside-carousel{
    width: 50%;
    font-size: 60px;
}

@media (max-width: 1250px) {
    .mybg {
        height: 25rem;
    }
}

@media (max-width: 900px) {
    .mybg {
        height: 20rem;
    }
    .inside-carousel{
        width: 100%;
    }
}

@media (max-width: 800px) {
    .mybg {
        height: 15rem;
    }
    .inside-carousel{
        font-size: 40px;
    }
}

@media (max-width: 500px) {
    .mybg {
        height: 10rem;
    }
}